<!DOCTYPE html>
<html>
<head>
    <title>Alle varer</title>
</head>
<body>
<h1>Oversigt over alle varer</h1>
<p>Hvis du ønsker at se alle dine salgsannoncer så tryk på knappen forneden!</p>  
<script src="alleVarer.js" async defer></script>
<button id="formAlle"> Se varer</button>
<br>
<table id="alleVareliste"></table>
<body>
    <script src="alleVarer.js" async defer></script>
    <p>Kategorimenu:</p>
    <button id="clickBolig">Til boligen</button>
    <button id="clickTøj">Tøj</button>
    <button id="clickHave">Have og byg</button>
    <button id="clickElek">Elektronik</button>
    <table id="varekatListe"></table>
</body>
<a class="Go_back" href="hovedside.html">Gå tilbage</a>
</body>
<br>
</body>
</html>