<!DOCTYPE html>
<html>
<head>
    <title>Sælg</title>
</head>
<body>
<h1>Velkommen til Den blå bazar!</h1>

<h2>Her kan du oprette en salgsannonce</h2>
<div>
    <form id="vareForm">
        <p>Vælg en kategori</p>
        <select id="varekategori" placeholder="Varekategori">
            <option>Til boligen</option>
            <option>Tøj</option>
            <option>Have og byg</option>
            <option>Elektronik</option>
        </select>
        <p>Beskriv din vare</p>
        <input id="beskrivelse" placeholder="Beskrivelse"/>
        <p>Vælg en pris</p>
        <input id="pris" placeholder="Pris"/>
        <p>Opload et billede af varen</p>
        <input type="file" placeholder="Vælg billede">
        <br><br>
        <input type="submit" value="Sælg din vare"/>
    </form>
<br>
<p>For at opdatere din gemte vare så klik på knappen forneden!</p>
<form id="formOpdaterV">
    <div>
      <th>
        <input type="text" class="beskrivelse_input" id="NyBeskrivelse" placeholder="Opdater beskrivelse">
      </th>
    </div>
    <br>
      <div>
        <th>
          <input type="text" class="pris_input" id="NyPris" placeholder="Opdater pris">
        </th>
      </div>
      <br>
      <div>
        <button id="updateV" type="submit" onclick="updateVare()" class="vare_btn">Opdater</button>
      </form> 
<p>Ønsker du at slette din gemte vare så klik på knappen forneden!</p>
<form id="formSlet">     
    <input type="submit" value="Slet"/>
  </form>
  <br>
<a href= hovedside.html class="Forside1">Gå tilbage til hovedsiden</a>
<script src="regVare.js"></script>
<script src="vareOpg.js"></script>
<script src="opdaterVare.js"></script>
</body>
</html>

