<!DOCTYPE html>
<html>
<head>
    <title>Sælg</title>
</head>
<body>
<h1>Velkommen til Den blå bazar!</h1>

<h2>Her kan du oprette en salgsannonce</h2>
<div>
    <form id="vareForm">
        <p>Vælg en kategori</p>
        <select id="varekategori" placeholder="Varekategori">
            <option>Til boligen</option>
            <option>Tøj</option>
            <option>Have og byg</option>
            <option>Elektronik</option>
        </select>
        <p>Beskriv din vare</p>
        <input id="beskrivelse" placeholder="Beskrivelse"/>
        <p>Vælg en pris</p>
        <input id="pris" placeholder="Pris"/>
        <br><br>
        <input type="submit" value="Sælg din vare"/>
    </form>
<br>
<p>Ønsker du at slette din gemte vare så klik på knappen forneden!</p>
<form id="formSlet">     
    <input type="submit" value="Slet"/>
  </form>
  <br>
<a href= hovedside.html class="Forside1">Gå tilbage til hovedsiden</a>
<script src="regVare.js"></script>
<script src="vareOpg.js"></script>
</body>
</html>

